numpy>=2.1,<2.3
opencv-python==4.10.0.84
ultralytics==8.3.40

fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.18

motor==3.6.0
pymongo==4.9.2

aiohttp==3.11.11
python-dotenv==1.0.1

pytest==8.3.4